[submodule "third_party/onnx"]
	path = third_party/onnx
	url = https://github.com/onnx/onnx/
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/MNN"]
	path = third_party/MNN
	url = git@github.com:daquexian/MNN.git
[submodule "third_party/ncnn"]
	path = third_party/ncnn
	url = git@github.com:daquexian/ncnn.git
[submodule "tengine"]
	path = third_party/tengine
	url = git@github.com:daquexian/Tengine.git
[submodule "third_party/TNN"]
	path = third_party/TNN
	url = git@github.com:daquexian/TNN.git
[submodule "third_party/Tengine-Convert-Tools"]
	path = third_party/Tengine-Convert-Tools
	url = https://github.com/OAID/Tengine-Convert-Tools
[submodule "paddle_wrapper/Paddle-Lite"]
	path = paddle_wrapper/Paddle-Lite
	url = git@github.com:daquexian/Paddle-Lite.git
