<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>One-click Model Conversion</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<div style="display:none">
    <script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1277797637&web_id=1277797637"></script>
</div>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>


<script>
    function getConvertedMnnModelUrls(ctx) {
        let _get_buffer1 = Module.cwrap('get_buffer1', "number", ["number"])
        let _get_buffer_size1 = Module.cwrap('get_buffer_size1', "number", ["number"])
        bufferOffset1 = _get_buffer1(ctx);
        bufferSize1 = _get_buffer_size1(ctx);
        output1 = new Uint8Array(HEAP8.subarray(bufferOffset1, bufferOffset1 + bufferSize1));
        let url1 = createObjectURL(output1)
        return [url1];
    }

    function getConvertedNccnModelUrls(ctx) {
        let _get_buffer1 = Module.cwrap('get_buffer1', "number", ["number"])
        let _get_buffer2 = Module.cwrap('get_buffer2', "number", ["number"])
        let _get_buffer_size1 = Module.cwrap('get_buffer_size1', "number", ["number"])
        let _get_buffer_size2 = Module.cwrap('get_buffer_size2', "number", ["number"])
        bufferOffset1 = _get_buffer1(ctx);
        bufferSize1 = _get_buffer_size1(ctx);
        output1 = new Uint8Array(HEAP8.subarray(bufferOffset1, bufferOffset1 + bufferSize1));
        let url1 = createObjectURL(output1)
        bufferOffset2 = _get_buffer2(ctx);
        bufferSize2 = _get_buffer_size2(ctx);
        output2 = new Uint8Array(HEAP8.subarray(bufferOffset2, bufferOffset2 + bufferSize2));
        let url2 = createObjectURL(output2)
        return [url1, url2];
    }

    function getErrorMsg(ctx) {
        let _get_buffer1 = Module.cwrap('get_buffer1', "number", ["number"])
        let _get_buffer_size1 = Module.cwrap('get_buffer_size1', "number", ["number"])
        bufferOffset1 = _get_buffer1(ctx);
        bufferSize1 = _get_buffer_size1(ctx);
        output1 = new Uint8Array(HEAP8.subarray(bufferOffset1, bufferOffset1 + bufferSize1));
        const str = String.fromCharCode.apply(null, output1);

        return str;
    }

    function transferToHeap(ui8a) {
        heapSpace = Module._malloc(ui8a.length *
            ui8a.BYTES_PER_ELEMENT); // 1
        Module.HEAP8.set(ui8a, heapSpace); // 2 
        return heapSpace;
    }

    const readFileAsArrayBuffer = (inputFile) => {
        const temporaryFileReader = new FileReader();

        return new Promise((resolve, reject) => {
            temporaryFileReader.onerror = () => {
                temporaryFileReader.abort();
                reject(new DOMException("Problem parsing input file."));
            };

            temporaryFileReader.onload = () => {
                resolve(temporaryFileReader.result);
            };
            temporaryFileReader.readAsArrayBuffer(inputFile);
        });
    };

    const cpp_js_wrapper = async (export_name, files) => {
        const n = files.length;
        var ctx = Module.ccall('create_exporter', 'number');
        var args = [ctx];
        var arg_types = ["number"];

        for (var i = 0; i < n; i++) {
            const arr = await readFileAsArrayBuffer(files[i]);
            const arr_ui8a = new Uint8Array(arr);
            const arr_heap = transferToHeap(arr_ui8a);
            args.push(arr_heap, arr_ui8a.length);
            arg_types.push("array", "number");
        }

        const convert = Module.cwrap(export_name, arg_types);
        const success = convert.apply(null, args);
        if (success) {
            ret = getConvertedNccnModelUrls(ctx);
        } else {
            ret = getErrorMsg(ctx);
        }

        Module.ccall('free_exporter', null, ['number'], ctx);

        return [success, ret];
    };

    const onnx2ncnn_js = async (files) => {
        const export_name = 'onnx2ncnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const caffe2ncnn_js = async (files) => {
        const export_name = 'caffe2ncnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const caffe2mnn_js = async (files) => {
        const export_name = 'caffe2mnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    //
    // create object url
    //
    function createObjectURL(array, type) {
        var useTypedArray = (typeof Uint8Array !== 'undefined');
        var isSafari = (
            navigator.userAgent.indexOf('Safari') !== -1 &&
            navigator.vendor.indexOf('Apple') !== -1
        );
        var data = '';
        var bb;
        var blob;
        var tmp;
        var i;
        var il;

        if (useTypedArray) {
            array = new Uint8Array(array);
        }

        // avoid blob url in safari
        if (!isSafari) {

            // Blob constructor
            try {
                blob = new Blob([array], {type: type});
            } catch (e) {
            }

            // BlobBuilder
            if (
                (tmp = window.WebkitBlobBuilder) !== void 0 ||
                (tmp = window.MozBlobBuilder) !== void 0 ||
                (tmp = window.MSBlobBuilder) !== void 0
            ) {
                bb = new tmp();
                bb.append(array.buffer);
                blob = bb.getBlob(type);
            }

            // createObjectURL
            if (blob && (
                ((tmp = window.URL) && tmp.createObjectURL) ||
                ((tmp = window.webkitURL) && tmp.createObjectURL)
            )) {
                return tmp.createObjectURL(blob);
            }
        }

        // DataURL
        for (i = 0, il = array.length; i < il;) {
            data += String.fromCharCode.apply(
                null,
                useTypedArray ?
                    array.subarray(i, i += 0x7fff) :
                    array.slice(i, i += 0x7fff)
            );
        }

        return 'data:' + type + ';base64,' + window.btoa(data);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="export.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<div id='app' class='content'>
    <el-container>
        <el-main>
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span='18'>
                    <div>
                        <div id='choose_output_format'>
                            <font size="4">Choose your output model format:</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model='outputFormat'>
                                    <el-radio label="ncnn">
                                        <font size='3'>ncnn</font>
                                    </el-radio>
                                    <el-radio label="mnn">
                                        <font size='3'>mnn</font>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 15px" id='choose_input_format'>
                            <font size="4">Choose your input model format:</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model="inputFormat" :change='onSelectInputFormat'>
                                    <el-radio :disabled='outputFormat=="mnn"' label="onnx">
                                        <font size='3'>onnx</font>
                                    </el-radio>
                                    <el-radio label="caffe">
                                        <font size='3'>caffe</font>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 20px">
                            <el-upload id='select' action="blahblah" ref="select" :on-preview="handlePreview"
                                :on-remove="handleRemove" :on-change="beforeUpload" multiple :limit="dqxlimit"
                                :on-exceed="handleExceed" :http-request="uploadRequest" :file-list="fileList"
                                :auto-upload="false">
                                <div slot="tip" class="el-upload__tip">
                                    <font size="2">
                                        {{ uploadTip }}
                                        <el-tooltip class="item" effect="light"
                                            content="The conversion is performed on your PC. Your model will never be uploaded to the cloud."
                                            placement="top-start">
                                            <i class='el-icon-info'></i>
                                        </el-tooltip>
                                    </font>
                                </div>
                                <el-button slot="trigger" type="primary" :disabled='!uploadDisabled'>Select</el-button>
                                <el-button style="margin-left: 30px;" type="success" :disabled="uploadDisabled"
                                    @click="submitUpload">Convert</el-button>
                            </el-upload>
                        </div>
                        <div style="margin-top: 15px">
                            <div v-if='showUrls'>
                                <font color='#67C23A'>
                                    <i class='el-icon-success'></i>
                                    Converted successfully!
                                </font>
                                <br />
                                <div style="margin-top: 5px">
                                    <el-link type='success' :download='paramFilename' :href='paramUrl'>{{ paramFilename }}</el-link>
                                    <br />
                                    <el-link type='success' :download='binFilename' :href='binUrl' v-if='outputFormat == "ncnn"'>{{ binFilename }}</el-link>
                                </div>
                            </div>
                            <div v-if='showErrorMsg'>
                                <font color='#F56C6C'>
                                    <i class='el-icon-error'></i>
                                    {{ errorMsg }}
                                </font>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            inputFormat: 'onnx',
            outputFormat: 'ncnn',
            fileList: [],
            uploadDisabled: true,
            hasResult: false,
            convertSuccess: false,
        },
        computed: {
            dqxlimit: function () {
                let limit_dict = {
                    'onnx': 1,
                    'caffe': 2
                };
                return limit_dict[this.inputFormat];
            },
            uploadTip: function () {
                return 'Please select your ' + (this.inputFormat == 'onnx' ? 'onnx model' : 'prototxt and caffemodel');
            },
            showUrls: function () {return this.hasResult && this.convertSuccess},
            showErrorMsg: function () {return this.hasResult && !this.convertSuccess}
        },
        watch: {
            inputFormat: function (newValue, oldValue) {
                console.log(newValue);
                this.fileList = [];
                this.uploadDisabled = this.fileList.length != this.dqxlimit;
                this.hasResult = false;
            }
        },
        methods: {
            submitUpload() {
                const files = this.$refs.select.uploadFiles.map(file => file.raw);
                const ncnn_func_dict = {
                    'onnx': onnx2ncnn_js,
                    'caffe': caffe2ncnn_js
                    // 'caffe': caffe2mnn_js
                };
                const mnn_func_dict = {
                    // 'onnx': onnx2ncnn_js,
                    'caffe': caffe2mnn_js
                };
                const func_dict = {
                    'ncnn': ncnn_func_dict,
                    'mnn': mnn_func_dict
                }
                const func = func_dict[this.outputFormat][this.inputFormat];
                func(files).then((ret) => {
                    this.hasResult = true;
                    const success = ret[0];
                    this.convertSuccess = success;
                    if (success) {
                        if (this.outputFormat == 'ncnn') {
                            [this.paramUrl, this.binUrl] = ret[1];
                            this.paramFilename = 'ncnn_model.param';
                            this.binFilename = 'ncnn_model.bin';
                        } else {
                            [this.paramUrl] = ret[1];
                            this.paramFilename = 'model.mnn'
                        }
                    } else {
                        this.errorMsg = ret[1];
                        console.log(this.errorMsg);
                    }
                });
            },
            onSelectInputFormat(label) {
                console.log(label);
            },
            uploadRequest(option) {
                let file = option.file;
                console.log(file);
                console.log(file.size);
                console.log(file.type);
                onnx2ncnn_js(file);
            },
            beforeUpload(file, fileList) {
                this.uploadDisabled = fileList.length != this.dqxlimit
            },
            handleRemove(file, fileList) {
                this.uploadDisabled = fileList.length != this.dqxlimit
            },
            handlePreview(file) {
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 ${this.dqxlimit} 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
        }
    })
</script>


</html>
