<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>在线一键模型转换 Caffe, ONNX, TensorFlow 到 NCNN, MNN, Tengine</title>
    <meta name="Description" content="网页一键将 Caffe ONNX TensorFlow 转为 NCNN, MNN, Tengine">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.11.1/lib/theme-chalk/index.css">
</head>
<div style="display:none">
    <script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1277797637&web_id=1277797637"></script>
</div>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    .el-footer {
        /* background-color: #B3C0D1; */
        color: #333;
        text-align: right;
        line-height: 60px;
        font-size: 15px;
    }
</style>


<script>
    function getConvertedMnnModelUrls(ctx) {
        let _get_buffer1 = Module.cwrap('get_buffer1', "number", ["number"])
        let _get_buffer_size1 = Module.cwrap('get_buffer_size1', "number", ["number"])
        bufferOffset1 = _get_buffer1(ctx);
        bufferSize1 = _get_buffer_size1(ctx);
        output1 = new Uint8Array(HEAP8.subarray(bufferOffset1, bufferOffset1 + bufferSize1));
        let url1 = createObjectURL(output1)
        return [url1];
    }

    function getConvertedModelUrlsAndErrorMsg(ctx) {
        let _get_buffer1 = Module.cwrap('get_buffer1', "number", ["number"])
        let _get_buffer2 = Module.cwrap('get_buffer2', "number", ["number"])
        let _get_buffer3 = Module.cwrap('get_buffer3', "number", ["number"])
        let _get_buffer_size1 = Module.cwrap('get_buffer_size1', "number", ["number"])
        let _get_buffer_size2 = Module.cwrap('get_buffer_size2', "number", ["number"])
        let _get_buffer_size3 = Module.cwrap('get_buffer_size3', "number", ["number"])
        bufferOffset1 = _get_buffer1(ctx);
        bufferSize1 = _get_buffer_size1(ctx);
        output1 = new Uint8Array(HEAP8.subarray(bufferOffset1, bufferOffset1 + bufferSize1));
        let url1 = createObjectURL(output1)
        bufferOffset2 = _get_buffer2(ctx);
        bufferSize2 = _get_buffer_size2(ctx);
        output2 = new Uint8Array(HEAP8.subarray(bufferOffset2, bufferOffset2 + bufferSize2));
        let url2 = createObjectURL(output2)

        bufferOffset3 = _get_buffer3(ctx);
        bufferSize3 = _get_buffer_size3(ctx);

        console.log(bufferSize3);
        output3 = new Uint8Array(HEAP8.subarray(bufferOffset3, bufferOffset3 + bufferSize3));
        output3 = String.fromCharCode.apply(null, output3);

        return [url1, url2, output3];
    }

    function getErrorMsg(ctx) {
        let _get_buffer = Module.cwrap('get_buffer3', "number", ["number"])
        let _get_buffer_size = Module.cwrap('get_buffer_size3', "number", ["number"])
        bufferOffset = _get_buffer(ctx);
        bufferSize = _get_buffer_size(ctx);
        output = new Uint8Array(HEAP8.subarray(bufferOffset, bufferOffset + bufferSize));
        const str = String.fromCharCode.apply(null, output);

        return str;
    }

    function transferToHeap(ui8a) {
        heapSpace = Module._malloc(ui8a.length *
            ui8a.BYTES_PER_ELEMENT); // 1
        Module.HEAP8.set(ui8a, heapSpace); // 2 
        return heapSpace;
    }

    const readFileAsArrayBuffer = (inputFile) => {
        const temporaryFileReader = new FileReader();

        return new Promise((resolve, reject) => {
            temporaryFileReader.onerror = () => {
                temporaryFileReader.abort();
                reject(new DOMException("Problem parsing input file."));
            };

            temporaryFileReader.onload = () => {
                resolve(temporaryFileReader.result);
            };
            temporaryFileReader.readAsArrayBuffer(inputFile);
        });
    };

    const cpp_js_wrapper = async (export_name, files) => {
        this.convertDisabled = true;
        const n = files.length;
        var ctx = Module.ccall('create_exporter', 'number');
        var args = [ctx];
        var arg_types = ["number"];

        for (var i = 0; i < n; i++) {
            const arr = await readFileAsArrayBuffer(files[i]);
            const arr_ui8a = new Uint8Array(arr);
            const arr_heap = transferToHeap(arr_ui8a);
            args.push(arr_heap, arr_ui8a.length);
            arg_types.push("array", "number");
        }

        const convert = Module.cwrap(export_name, arg_types);
        const success = convert.apply(null, args);
        if (success) {
            ret = getConvertedModelUrlsAndErrorMsg(ctx);
        } else {
            ret = getErrorMsg(ctx);
        }

        Module.ccall('free_exporter', null, ['number'], ctx);

        this.convertDisabled = false;
        return [success, ret];
    };

    const onnx2ncnn_js = async (files) => {
        const export_name = 'onnx2ncnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const caffe2ncnn_js = async (files) => {
        const export_name = 'caffe2ncnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const caffe2mnn_js = async (files) => {
        const export_name = 'caffe2mnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const onnx2mnn_js = async (files) => {
        const export_name = 'onnx2mnn_export';
        return cpp_js_wrapper(export_name, files);
    }

    const tf2mnn_js = async (files) => {
        const export_name = 'tf2mnn_export';
        return cpp_js_wrapper(export_name, files);
    }
    const onnx2tengine_js = async (files) => {
        const export_name = 'onnx2tengine_export';
        return cpp_js_wrapper(export_name, files);
    }

    //
    // create object url
    //
    function createObjectURL(array, type) {
        var useTypedArray = (typeof Uint8Array !== 'undefined');
        var isSafari = (
            navigator.userAgent.indexOf('Safari') !== -1 &&
            navigator.vendor.indexOf('Apple') !== -1
        );
        var data = '';
        var bb;
        var blob;
        var tmp;
        var i;
        var il;

        if (useTypedArray) {
            array = new Uint8Array(array);
        }

        // avoid blob url in safari
        if (!isSafari) {

            // Blob constructor
            try {
                blob = new Blob([array], {type: type});
            } catch (e) {
            }

            // BlobBuilder
            if (
                (tmp = window.WebkitBlobBuilder) !== void 0 ||
                (tmp = window.MozBlobBuilder) !== void 0 ||
                (tmp = window.MSBlobBuilder) !== void 0
            ) {
                bb = new tmp();
                bb.append(array.buffer);
                blob = bb.getBlob(type);
            }

            // createObjectURL
            if (blob && (
                ((tmp = window.URL) && tmp.createObjectURL) ||
                ((tmp = window.webkitURL) && tmp.createObjectURL)
            )) {
                return tmp.createObjectURL(blob);
            }
        }

        // DataURL
        for (i = 0, il = array.length; i < il;) {
            data += String.fromCharCode.apply(
                null,
                useTypedArray ?
                    array.subarray(i, i += 0x7fff) :
                    array.slice(i, i += 0x7fff)
            );
        }

        return 'data:' + type + ';base64,' + window.btoa(data);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="export.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.11.1/lib/index.js"></script>

<div id='app' class='content'>
    <el-container>
        <el-main>
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span='18'>
                    <div>
                        <div id='choose_output_format'>
                            <font size="4">选择目标格式：</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model='outputFormat'>
                                    <el-radio label="tengine">
                                        <font size='3'>tengine</font>
                                    </el-radio>
                                    <el-radio label="ncnn" style="width:60px">
                                        <font size='3'>ncnn</font>
                                    </el-radio>
                                    <el-radio label="mnn">
                                        <font size='3'>mnn</font>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 15px" id='choose_input_format'>
                            <font size="4">选择输入格式：</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model="inputFormat" :change='onSelectInputFormat'>
                                    <el-radio label="onnx" style="width:80px">
                                        <font size='3'>onnx</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat != "tengine"' label="caffe">
                                        <font size='3'>caffe</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "mnn"' label="tf">
                                        <font size='3'>tensorflow</font>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 20px; margin-right: 70px">
                            <el-upload id='select' action="blahblah" ref="select"
                                :on-remove="handleRemove" :on-change="beforeUpload" multiple :limit="dqxlimit"
                                :file-list="fileList" :auto-upload="false">
                                <div slot="tip" class="el-upload__tip">
                                    <font size="2">
                                        {{ uploadTip }}
                                        <el-tooltip class="item" effect="light"
                                            content="转换是完全由浏览器本身在本地进行的，您的模型不会被上传"
                                            placement="top-start">
                                            <i class='el-icon-info'></i>
                                        </el-tooltip>
                                    </font>
                                </div>
                                <el-button slot="trigger" type="primary" :disabled='!uploadDisabled'>选择</el-button>
                                <el-button style="margin-left: 30px;" type="success" :disabled="uploadDisabled && !convertDisabled"
                                    @click="submitUpload">转换</el-button>
                            </el-upload>
                        </div>
                        <div style="margin-top: 15px">
                            <div v-if='showSuccessMsg'>
                                <font color='#67C23A'>
                                    <i class='el-icon-success'></i>
                                    转换成功！
                                </font>
                                <br />
                            </div>
                            <div v-if='showUrls'>
                                <div style="margin-top: 5px">
                                    <el-link type='success' :download='paramFilename' :href='paramUrl'>{{ paramFilename }}</el-link>
                                    <br />
                                    <el-link type='success' :download='binFilename' :href='binUrl' v-if='outputFormat == "ncnn"'>{{ binFilename }}</el-link>
                                </div>
                            </div>
                            <div v-if='showErrorMsg'>
                                <font color='#F56C6C'>
                                    <i class='el-icon-error'></i>
                                    <p v-html="errorMsg"></p>
                                </font>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
    <el-footer>
        Created by <a target="_blank" href="https://github.com/daquexian">daquexian</a>
    </el-footer>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            inputFormat: 'onnx',
            outputFormat: 'tengine',
            fileList: [],
            uploadDisabled: true,
            convertDisabled: false,
            hasResult: false,
            // Note: In ncnn, there are also converted models 
            // (which can be manually edited) even if the conversion fails.
            // so "convertSuccess" and "hasConvertedModel" are separated.
            convertSuccess: false,
            hasConvertedModel: false,
        },
        computed: {
            dqxlimit: function () {
                let limit_dict = {
                    'onnx': 1,
                    'caffe': 2,
                    'tf': 1
                };
                return limit_dict[this.inputFormat];
            },
            uploadTip: function () {
                const msg_dict = {'onnx': 'onnx 模型',
                    'caffe': 'prototxt 和 caffemodel 模型（按顺序）',
                    'tf': '.pb 模型'};
                return '请选择 ' + msg_dict[this.inputFormat];
            },
            showUrls: function () {return this.hasResult && this.hasConvertedModel},
            showErrorMsg: function () {return this.hasResult && !this.convertSuccess},
            showSuccessMsg: function () {return this.hasResult && this.convertSuccess},
        },
        watch: {
            inputFormat: function (newValue, oldValue) {
                console.log(newValue);
                this.fileList = [];
                this.uploadDisabled = this.fileList.length != this.dqxlimit;
                this.hasResult = false;
            },
            outputFormat: function (newValue, oldValue) {
                this.fileList = [];
                this.hasResult = false;
                this.uploadDisabled = this.fileList.length != this.dqxlimit;
                if ((this.inputFormat == "tf" && (newValue == "tengine" || newValue == "ncnn")) ||
                (this.inputFormat == "caffe" && (newValue == "tengine"))) {
                    this.inputFormat = "onnx";
                }
            }
        },
        methods: {
            submitUpload() {
                const files = this.$refs.select.uploadFiles.map(file => file.raw);
                const ncnn_func_dict = {
                    'onnx': onnx2ncnn_js,
                    'caffe': caffe2ncnn_js
                    // 'caffe': caffe2mnn_js
                };
                const mnn_func_dict = {
                    'onnx': onnx2mnn_js,
                    'caffe': caffe2mnn_js,
                    'tf': tf2mnn_js
                };
                const tengine_func_dict = {
                    'onnx': onnx2tengine_js
                }
                const func_dict = {
                    'ncnn': ncnn_func_dict,
                    'mnn': mnn_func_dict,
                    'tengine': tengine_func_dict
                }
                const func = func_dict[this.outputFormat][this.inputFormat];
                func(files).then((ret) => {
                    this.hasResult = true;
                    const hasModel = ret[0];
                    this.hasConvertedModel = hasModel;
                    this.convertSuccess = hasModel;
                    if (hasModel) {
                        if (this.outputFormat == 'ncnn') {
                            [this.paramUrl, this.binUrl, errorMsg] = ret[1];
                            this.paramFilename = 'ncnn_model.param';
                            this.binFilename = 'ncnn_model.bin';
                            if (!(errorMsg === "")) {
                                this.errorMsg = "转换遇到了一些错误，不过某些情况下你可以下载模型并 <a href=\"https://zhuanlan.zhihu.com/p/93017149\">手工修复</a> <br/>" + errorMsg;
                                this.convertSuccess = false;
                            }
                        } else if (this.outputFormat == 'mnn') {
                            [this.paramUrl] = ret[1];
                            this.paramFilename = 'model.mnn'
                        } else if (this.outputFormat == 'tengine') {
                            [this.paramUrl] = ret[1];
                            this.paramFilename = 'model.tmfile'
                        } 
                    } else {
                        this.errorMsg = ret[1];
                        console.log(this.errorMsg);
                    }
                });
            },
            onSelectInputFormat(label) {
                console.log(label);
            },
            beforeUpload(file, fileList) {
                this.uploadDisabled = fileList.length != this.dqxlimit
            },
            handleRemove(file, fileList) {
                this.uploadDisabled = fileList.length != this.dqxlimit
            },
        }
    })
</script>


</html>
