<!DOCTYPE html>
<html lang="en">

<!-- hhhhasdfadsfasdf -->

<head>
    <meta charset="UTF-8">
    <title>一键转换 Caffe, ONNX, TensorFlow 到 NCNN, MNN, Tengine</title>
    <meta name="Description" content="网页一键将 Caffe ONNX TensorFlow 转为 NCNN, MNN, Tengine">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.11.1/lib/theme-chalk/index.css">
</head>
<div style="display:none">
    <script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1277797637&web_id=1277797637"></script>
</div>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }

    .el-footer {
        /* background-color: #B3C0D1; */
        color: #333;
        text-align: right;
        line-height: 60px;
        font-size: 15px;
    }
</style>


<script src="https://unpkg.com/navigator-languages@2.0.2/dist/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.11.1/lib/index.js"></script>
<script src="https://unpkg.com/vue-i18n@8.9.0/dist/vue-i18n.js"></script>

<div id='app' class='content'>
    <el-container>
        <el-main>
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span='18'>
                    <div>
                        <h2>
                            {{$t('title1')}}
                            <br />
                            {{$t('title2')}}
                            <el-tooltip class="item" effect="light" :content="$t('title_tip')" placement="top-end">
                                <font color='#67C23A'>
                                    <i class='el-icon-s-home'></i>
                                </font>
                            </el-tooltip>
                        </h2>
                        <div id='choose_output_format'>
                            <font size="4">{{$t('choose_output_format')}}</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model='outputFormat' style="line-height: 20px">
                                    <el-radio label="tengine" style="width:70px">
                                        <font size='3'>tengine</font>
                                    </el-radio>
                                    <el-radio label="ncnn" style="width:60px">
                                        <font size='3'>ncnn</font>
                                    </el-radio>
                                    <el-radio label="mnn">
                                        <font size='3'>mnn</font>
                                    </el-radio>
                                    <el-radio label="tnn" style="width:70px">
                                        <font size='3'>tnn</font>
                                    </el-radio>
                                    <el-radio label="onnx">
                                        <font size='3'>onnx</font>
                                        <el-tooltip class="item" effect="light" :content="$t('onnx_tip')"
                                            placement="top">
                                            <i class='el-icon-info'></i>
                                        </el-tooltip>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 15px" id='choose_input_format'>
                            <font size="4">{{$t('choose_input_format')}}</font><br />
                            <div style="margin-top: 6px">
                                <el-radio-group id='radio' v-model="inputFormat" :change='onSelectInputFormat'
                                    style="line-height: 20px">
                                    <el-radio label="onnx" style="width:70px">
                                        <font size='3'>onnx</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat != "onnx" && outputFormat != "tnn"' label="caffe"
                                        style="width:60px">
                                        <font size='3'>caffe</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "mnn" || outputFormat == "tengine"' label="tf">
                                        <font size='3'>tensorflow</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "ncnn" || outputFormat == "tengine"' label="mxnet"
                                        style="width:70px">
                                        <font size='3'>mxnet</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "tengine"' label="tflite" style="width:60px">
                                        <font size='3'>tflite</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "ncnn" || outputFormat == "tengine"' label="darknet"
                                        style="width:70px">
                                        <font size='3'>darknet</font>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "ncnn"' label="mlir" style="width:70px">
                                        <font size='3'>mlir</font>
                                        <el-tooltip class="item" effect="light" :content='$t("mlir_tip")'
                                            placement="top-end">
                                            <i class='el-icon-info'></i>
                                        </el-tooltip>
                                    </el-radio>
                                    <el-radio v-if='outputFormat == "ncnn" && outputFormat != "onnx"' label="ncnn">
                                        <font size='3'>ncnn</font>
                                        <el-tooltip class="item" effect="light" :content='$t("ncnn_tip")'
                                            placement="top-end">
                                            <i class='el-icon-info'></i>
                                        </el-tooltip>
                                    </el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div style="margin-top: 15px" id='checkboxes'>
                            <el-checkbox v-if='outputFormat == "onnx"' v-model="onnxSim">{{$t("onnx_sim_checkbox")}}
                            </el-checkbox>
                            <el-checkbox v-if='inputFormat == "onnx"' v-model="onnxOpt">{{$t("onnx_opt_checkbox")}}
                            </el-checkbox>
                            <el-checkbox :disabled='onnxSim && outputFormat == "onnx"' v-if='outputFormat == "onnx"'
                                v-model="onnxInferShape"> {{ $t("onnx_shape_checkbox") }}</el-checkbox>
                            <el-checkbox v-if='inputFormat == "darknet" && outputFormat == "ncnn"'
                                v-model="darknet2ncnnMerge">{{ $t("darknet2ncnn_merge_checkbox") }}</el-checkbox>
                            <el-checkbox :disabled='inputFormat == "ncnn"' v-if='outputFormat == "ncnn"'
                                v-model="ncnnConvertWithOpt">{{ $t("ncnn_opt_checkbox") }}</el-checkbox>
                            <el-checkbox v-if='outputFormat == "ncnn" && (inputFormat == "ncnn" || ncnnConvertWithOpt)'
                                v-model="ncnnoptFp16"> {{ $t("ncnn_fp16_checkbox") }}</el-checkbox>
                        </div>
                        <div style="margin-top: 20px; margin-right: 70px">
                            <el-upload id='select' action="blahblah" ref="select" :on-remove="handleRemove"
                                :on-change="beforeUpload" multiple :limit="dqxlimit" :file-list="fileList"
                                :auto-upload="false">
                                <div slot="tip" class="el-upload__tip">
                                    <font size="2">
                                        {{ uploadTip }}
                                    </font>
                                </div>
                                <el-button slot="trigger" type="primary" :disabled='selectDisabled'> {{
                                    $t("select_button") }} </el-button>
                                <el-button style="margin-left: 30px;" type="success"
                                    :disabled='convertDisabled || (outputFormat == "onnx" && !onnxOpt && !onnxInferShape)'
                                    @click="submitUpload">{{ $t("convert_button") }}</el-button>
                            </el-upload>
                        </div>
                        <div style="margin-top: 15px" v-if="showShapeInputBox && onnxSim">
                            {{ $t("input_shape_label") }}<el-input style="margin-top: 5px" v-model="shapeTxtFromUser"
                                placeholder=""></el-input>
                        </div>
                        <div style="margin-top: 15px">
                            <div v-if="showWaiting">
                                <font color='#909399'>
                                    <i class='el-icon-info'></i>
                                    {{ $t("converting_text") }}
                                </font>
                            </div>
                            <div v-if='showSuccessMsg'>
                                <font color='#67C23A'>
                                    <i class='el-icon-success'></i>
                                    {{ $t("convert_ok_text") }}
                                </font>
                                <br />
                            </div>
                            <div v-if='showUrls'>
                                <div style="margin-top: 5px">
                                    <el-link type='success' :download='paramFilename' :href='paramUrl'>{{ paramFilename
                                        }}</el-link>
                                    <br />
                                    <el-link type='success' :download='binFilename' :href='binUrl'
                                        v-if='outputFormat == "ncnn" || outputFormat == "tnn"'>{{ binFilename }}
                                    </el-link>
                                </div>
                            </div>
                            <div v-if='showErrorMsg'>
                                <font color='#F56C6C'>
                                    <i class='el-icon-error'></i>
                                    <p v-html="errorMsg"></p>
                                </font>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
    <el-footer>
        Created by <a target="_blank" href="https://github.com/daquexian">daquexian</a>
        <el-tooltip class="item" effect="light" :content="$t('author_tip')" placement="top-end">
            <i class='el-icon-info'></i>
        </el-tooltip>
        <br />
        <a target="_blank" href="http://www.beian.miit.gov.cn">京ICP备20015268号</a>
    </el-footer>
</div>
<script src="ui.js"></script>

<script>
    var Module = {
        onRuntimeInitialized: function () {
            vm.wasmDownloaded = true;
        }
    };
</script>

<script src="export.js"></script>
<script src="export_onnxopt.js"></script>
<script src="caffe2ncnn.js"></script>
<script src="darknet2ncnn.js"></script>
<script src="convert.js"></script>

</html>
